.home{
  background-color: #f5f5f7;
  ;
}
.homeSlide h1 {
  font-size: 45px;
  line-height: 55px;
  margin: 50px 0 20px 0;
}
.homeSlide p {
  margin: 20px 0;
}
.homeSlide ul {
  position: absolute;
  bottom: 20px;
}
.homeSlide ul li {
  border: 2px solid #b8b7b7;
  border-radius: 50%;
  padding: 10px;
}
.homeSlide ul li button {
  background: transparent !important;
  color: transparent !important;
}
.homeSlide ul li button::before {
  font-size: 15px !important;
  color:#0b8bc1;
  position: absolute;
  top: 2px;
  left: 0;
  margin: auto;
}
.home2 h6{
font-size: 15px;
color: black;
margin:10px;
 font-weight: bold;


}


.home2 p{
  font-size: 14px;

  margin: 10px;

  }
