
/*.topShop {

  }
  
  }
  
  }
  .topShop .nameshop span {
    background:#0b8bc1;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 5px;
    position: absolute;
    top: 10%;
  }
  .topShop .nameshop .tleft {
    left: 0;
  }
  .topShop .nameshop .tright {
    background-color: #f5dfcd;
    color: black;
    position: absolute;
    right: 0;
  }
  .topShop a{
    text-decoration:none;
    color:grey;
    
  }
  .topShop a:hover{
    color:grey;
    
  }
  */
 /* .shop{
    position: relative;
    background-color:  #3434e9;
    
  }
  .shop img {
 
    border-radius: 5px;
  }

    .shop a{
      text-decoration:none;
      color:grey;
      
    }
    .shop a:hover{
      color:grey;
      
    }*/
    .Containerr{
      margin-top: 30px;
      margin-bottom: 68px;}
 /*     position: relative;
      cursor: pointer;

    
    }
    .Containerr :hover .text{
      visibility: visible;
    }
    .Containerr :hover .img{
      transform: scale(1.1);
    }*/

    ul{
      display: grid;
      grid-template-columns: repeat(3,1fr);
     
      width: fit-content;
      margin: auto;
      -webkit-column-gap: 8px;
      column-gap: 8px;
      row-gap: 8px;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-items: center;}

 .shop img{
  border-radius: 6px;
  width: 297px;
  height: 128px;
}
.shop a{
  color:#fff;
}
.shop a :hover{
  color:#fff;
}

/*.text {
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #020b11;
  width: 294px;
  height: 129px;
  margin-left: 235px;
display :flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: antiquewhite;
justify-content: center;
opacity: .8;
visibility: hidden;


}*/
.img-area{
  text-align: center;
  color: #fff;
  position: relative;
}

.img-text{
  padding: 20px;
  margin-bottom: 20px;
  bottom: 0;
  z-index: 1;
  transition: all .5 cubic-bezier(.13,.62,.81,.9) 0s;


}
.img-text,
.img-area:after{
width: 100%;
position:absolute;
left: 0;
}
.img-area:after{
  content: '';
  height: 100%;
  top: 0;
  transition: .5s;

}
.img-area:hover:after {
background: linear-gradient(to bottom, rgba(251, 116, 4,.01)0, rgba(251, 116, 4,.25)25%,
rgba(251, 116, 4,.50) 50% , rgba(251, 116, 4,.75) 75%), rgba(251, 116, 4,.95) 100%;
opacity: .8;
border-radius: 6px;
}
.img-text h2{
  font-family: big john;
  font-size: 25px;
}
.img-area:hover .img-text{
  transform: translateY(0);
}
