
 .TopCate {
    position: relative;
    background-color: #f5f5f7;
  }
  .TopCate img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .TopCate .nametop {
    position: relative;
    width: 100%;
  }
  .TopCate .nametop span {
    background:#0b8bc1;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 5px;
    position: absolute;
    top: 10px;
  }
  .TopCate .nametop .tleft {
    left: 0;
  }
  .TopCate .nametop .tright {
    background-color: #f5dfcd;
    color: black;
    position: absolute;
    right: 0;
  }
  .TopCate a{
    text-decoration:none;
    color:grey;
    
  }
  .TopCate a:hover{
    color:grey;
    
  }
  