footer{
    background-color:#dae9fd;
    padding: 100px 10;
  color: #0b8bc1;
     
}
.footer-logo {
  margin-bottom: 0rem;
  margin-top: -0.8rem;
padding: 10%;
}

  footer .img i {
    font-size: 15px;
    margin: 5px;
  }
  footer .img span {
    margin-top: 1px;
  }
  footer h3{
    font-size: 20px;

    
    
  }
 
  footer p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 600;
    
    color:#0b8bc1;
    
    
  }
  
  .link {
    color:#0b8bc1;
    font-size: 1.5rem;
    margin: 5%;
   
  }
 .footer__link{
    color:#0b8bc1;
    text-decoration:none;
    margin-bottom: 5%;
   
 
    font-size: 15px;
  
    line-height: 30.5px;
    font-weight: 600;
    
    
 }
 

 .link:hover{
    color: #fb7404; 
 }
 .footer__link:hover{
    color: #fb7404;

 }
 .icon{  
 
    display: flex;
    margin-top: 5%;
    font-size: 20px;
    
 }
 .icon :hover{
    color: #fb7404;
 }
 .img.app{
position: relative;
  width: 3.8vw;
  height: 3.6vw;
}

  .btn:not(.btn-block){

   min-width: 180px;
    min-width: 170px;
    text-transform: uppercase;
    color : #fff;
    background-color: rgba(255,255,255,0.2);
    border-radius: 0.3rem !important;

    
  }
  .btn:not(.btn-block):hover{
    color: #f6800f;
  }
 .btn { display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.85rem 1.5rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
    
   
    white-space: normal;
    transition: all 0.3s;
}
  .input-group .btn {
    position: relative;
    z-index: 2;
}
.input-group-append{
  margin-left: -1px;
  display: flex;
}


.box form {
    display: flex;
    justify-content: flex-end;

}
 .input-group {
  max-width: 678px;

}

.form-control {
  margin-right: -1rem;
  

  height: 46px;
  padding-top: 1.15rem;
  padding-bottom: 1.15rem;
  background-color: #fff;

  padding: 0.85rem 2rem;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
  color: #777;

  border-radius: 0;
 
  transition: all 0.3s;



}
input.form-control{

  border-radius: 0.3rem;
  border: none;
}

.cta-title {
  font-weight: 600;
  letter-spacing: -0.025em;
  color:  #f6800f!important;
}


.cta-desc {
margin-bottom: 0;
font-size:0.8rem;
color: #ccc !important;
font-family: "Poppins";
letter-spacing: 0;
}
