@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2 {
  font-weight: 600;
}
h3 {
  font-weight: 500;
}
button,
input {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
::placeholder {
  font-size: 17px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  color: #5a5a5a;
  font-size: 15px;
}
label {
  color: #999;
  font-size: 13px;
}
form,
.boxItems {
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  padding: 20px;
  background: #fff;
}
form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 80px;
  padding: 40px;
}
form span {
  margin-bottom: 20px;
}
.accountInfo .right input,
form input {
  border: 1px solid #212121;
  border-radius: 6px;
  color: #212121;
  font-size: 15px;
  min-height: 44px;
  padding: 0 20px;
  transition: border-color 0.2s ease;
  width: 100%;
  margin-bottom: 30px;
}
.button {
  background: #212121;
  border: 1px solid;
  border-color: #212121;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  height: 48px;
  line-height: 1;
  padding: 15px 28px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.container {
  max-width: 95%;
  margin: auto;
}
footer {
  margin-top: 50px;
  padding: 10px;
}
footer .icon {
  font-size: 20px;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .grid3,
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}



.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg{
  height: 58px;
    width: 70px;
}

.product-page{
  display: flex;
  justify-content: center;
  margin: 100px 0 30px;
  flex-wrap: wrap;
}

.product-page-infos{
  width: 500px;
  margin: 20px;
  padding: 20px 0;
}
.product-page-img{
  width: 450px;
  margin: 15px;
  padding: 40px 0;
}
.product-page-infos h3{
  font-weight: 400;
  font-size: 28px;
  /* color: white; */
}
.product-page-infos h6{
  color: #ffc107;
  font-size: 15px;
  padding:3px 0;
  font-size: 11px;
}
.product-page-infos h2 {
  color: #ffc107;
  font-weight: 800;
  font-size: 32px;
}
.product-page-infos p {
  /* color: white; */
  text-align: justify;
  font-size: 17px;
  padding:8px 0 15px;
  
}
.product-page .link-call{
  background-color: #25d366;
  padding: 11px 57px;

}
.product-page-infos a{
  padding: 15px 64px;
  background-color: #F89302;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  /* color: white; */
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
 
}
.product-page-infos button:hover{
  background-color: #eff36c;
  transition: 0.9s;
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -ms-transition: 0.9s;
  -o-transition: 0.9s;
  cursor: pointer;
}

.product-page-title{
  padding: 25px;
  text-align: center;
}
.product-page-title h2{
 font-weight: 400;
}


 .product-page-desc{
   margin:4% 7%;
 }


 button[type="submit"]{

  background-color: #F89302;
    border-color: #F89302;
    padding: 6px 50px;
 }

 .link-back :hover{
   color: #F89302;
   text-decoration:underline;
 }

 [type=button]:not(:disabled){
   /* color: white; */
   font-size: 12px;
 }
 .css-ahj2mt-MuiTypography-root{
  font-size: 2rem !important;
  /* color: white; */
 }

